<!DOCTYPE html>
<html>
<head>
	<title>Definisi Kata sifat</title>
</head>
<body>
<h1>Pintar</h1>
<p>Arti pintar adalah mengetahui, pandai, memiliki ilmu. Tak heran jika pintar selalu dikaitkan dengan prestasi akademik, karena orang pintar selalu bergelut pada ilmu. Orang pintar mampu mencerna apapun dengan sempurna sehingga memiliki pengetahuan yang sangat luas, dan pengetahuan tersebut lah yang menjadi senjata utamanya. Orang pintar juga dikenal akan disiplin dan teratur, sehingga ia selalu mampu mengerjakan setiap hal yang diperintahkan.</p>
<br>
<p>Namun pintar dibatasi oleh waktu dan proses. Orang pintar butuh proses dan tahapan untuk mempelajari suatu hal terlebih dahulu dengan jangka waktu tertentu, sampai akhirnya ia mengetahui sepenuhnya akan hal yang dipelajarinya tersebut. Selain itu, orang pintar juga biasanya hanya bisa menjawab hal-hal yang dipelajarinya, dan terpaku pada hafalan bukan pengertian. Jika menurut teori berkata A, maka itulah yang akan ia ingat terus.</p>
<br>
<br>
<h1>Baik Hati</h1>
<p>Baik hati adalah orang yang selalu berbuat baik dengan di dasari hati yang tulus</p>
</body>
</html>